body {
  background: chartreuse;
  text-align: center;
  margin: 60 px 0 0 0;
}
h1 {
  background: chartreuse;
  text-align: center;
  margin: 60 px 0 0 0;
}

canvas {
  border: solid 6px white;
  background: royalblue;
}
